<div class="container py-3">
    <h1>
        <span class="far fa-plus-square text-muted mr-3"></span> Create new User Account
    </h1>
    <div class="col-md-6 py-3 bg-light">
        <form method="post" action="/account/create">
            <div class="form-group">
                <label for="accountUsername">Username</label>
                <input type="text" class="form-control" id="accountUsername" name="username" placeholder="Select a unique username..." minlength="3" maxlength="20" required="required" autofocus="autofocus">
            </div>
            <div class="form-group">
                <label for="accountPassword">Password</label>
                <input type="password" class="form-control" id="accountPassword" name="password" placeholder="Select a strong password" minlength="8" required="required">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Type your password again..." required="required">
                <div id="passwordCheck" class="alert alert-danger" role="alert" style="display: none">Passwords do not match!</div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" disabled>Create account!</button>
        </form>
    </div>
</div>