<div class="container py-3">
    <h1>
        <span class="fas fa-user-circle text-muted mr-3"></span>Your account
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Something fun here?</th>
                <th>Joined</th>
                <th>Number of Snippets</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{locals.username}}</td>
                <td>Something fun?</td>
                <td>{{locals.date}}</td>
                <td>[20(link)]</td>
                <td>
                    <a href="/create/edit/{{user.id}}"><span class="far fa-edit"></span></a>
                    <a href="/create/delete/{{user.id}}"><span class="far fa-trash-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <form method="post" action="/account">
        <button type="submit" class="btn btn-lg btn-danger">Log out!</button>
    </form>
</div>
<!-- /container -->