<h1>
    <span class="far fa-plus-square"></span> Create new Snippet
</h1>
<form method="post" action="/snippets/create">
    <input type="hidden" name="author" value="{{locals.author}}" />
    <div class="form-group">
        <label for="snippetTitle">Title</label>
        <input type="text" class="form-control" id="snippetTitle" name="title" placeholder="A memorable name for your snippet..." required="required" autofocus="autofocus">
    </div>
    <div class="form-group">
        <label for="snippetDescription">Description</label>
        <input type="text" class="form-control" id="snippetDescription" name="description" placeholder="A short description of your snippet..." required="required">
    </div>
    <div class="form-group">
        <label for="snippetLanguage">Language</label>
        <input type="text" class="form-control" id="snippetLanguage" name="language" placeholder="Programming language --> CHANGE TO LIST!" required="required">
    </div>
    <div class="form-group">
        <label for="snippetContent">Code</label>
        <textarea class="form-control" id="snippetContent" rows="5" name="content" placeholder="Your code goes here..." required="required"></textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Store Snippet!</button>
</form>