<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            {{locals.title}}
        </h1>
        {{#if locals.username}}
        <h2>Hello {{locals.username}}</h2>
        <p>
            Top of the day to you!
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/snippets/create" role="button">
                Create new Snippet »
            </a>
        </p>
        {{else}}
        <p>
            Get and store your code snippets here!
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/account/create" role="button">
                Get Started »
            </a>
        </p>
        {{/if}}
        <p>
            or <a href="/snippets">Browse our library of snippets...</a>
        </p>
    </div>
</div>
<!-- /container -->